.header{
  background-color: cornflowerblue;
  text-align: center;
}

.about-me{
  font-size: 20px;
  opacity: 0.5;
}

h1{
  color: azure;
}

*{
  font-family: georgia;
}

body{
  background-image: url(https://c.tenor.com/C9enx7IqWZwAAAAd/blind-kick.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
  
}
