.header{
  background-color: cornflowerblue;
  text-align: center;
}

.about-me{
  font-size: 20px;
  opacity: 0.5;
}

h1{
  color: azure;
}

*{
  font-family: georgia;
}

body{
  background-image: url(https://c.tenor.com/C9enx7IqWZwAAAAd/blind-kick.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
  
}

nav{
  position: fixed;
  border: cm;
  background-color: red;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #050505;
  text-align: center;
  padding: 74px 66px;
  text-decoration: none;
  font-size: 27px;
  border-bottom: 3px solid transparent;
}